<div>
  is this the issue?
  {{!-- <ul>
    {{#each games}}
      <li>
        {{game.gicon}}
        {{game.gname}}
      </li>
    {{/each}}
  </ul> --}}
</div>
<div>
  Previous // Page nr. // Next
</div>
<form action="/" method="POST"><input type="submit" value="Herson" /></form>