<div>
  <ul class="homeList">
    {{#each game}}
      <li class="homeListItem">
        <img class="gameIcons" src="{{gicon}}" alt="{{gicon}}" />
        <a href="/game/{{gid}}">{{gname}}</a>
      </li>
    {{/each}}
  </ul>
</div>
<div>
  <form class="homeForm" action="/" method="GET"><input
      type="submit"
      value="<"
    /></form>
  <form class="homeForm" action="/" method="POST"><input
      type="submit"
      value=">"
    /></form>
</div>