<div>
  <h1> About INSERT WEBPAGE PURPOSE HERE</h1>
  <p>DESCRIPTION OF PURPOSE INNIT</p>
</div>
<div>
  <h2>Pictures of my dogs, as a treat</h2>
  <div id="dogs">
    <img class="dogs" src="/img/John.jpg" alt="/img/John.jpg" />
    <img class="dogs" src="/img/Herson.jpg" alt="/img/Herson.jpg" />
  </div>
  <p>I love them dearly</p>
</div>