/* VARIABLES */
:root {
  --bgWhite: rgb(244, 242, 255, 0.33);
}

/* BASIC */
* {
  color: #f4f2ff;
  font-family: "poppins", sans-serif;
  font-size: 14pt;
}

body {
  background-color: #313036;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #f4f2ff;
}

a:hover {
  text-decoration: none;
}

p {
  text-align: center;
}

ul {
  list-style: none;
}

/* HEADER */
header,
nav {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  background-color: #f4f2ff;
  border-radius: 15px;
}

#navList {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.navList {
  flex-grow: 1;
  color: #313036;
}

.navList > a {
  color: #313036;
}

/* ABOUT */
/* images */
#dogs {
  display: flex;
  height: 80%;
  justify-content: space-evenly;
}

.dogs {
  height: 80%;
  border-radius: 15px;
  box-shadow: 10px 10px #f4f2ff;
}

/* text boxes */
h1,
h2 {
  text-align: center;
}

#aboutDesc {
  display: flex;
  justify-content: center;
}

#aboutDesc > p {
  line-height: 1.5em;
  padding: 1em;
  background-color: var(bgWhite);
  border-radius: 15px;
  width: fit-content;
}

/* CONTACT */
#contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#contactList {
  background-color: var(--bgWhite);
  border-radius: 15px;
  width: fit-content;
  padding: 1em;
}

/* GAMES & CONSOLES */
/* images */
.gameIcons {
  height: 2em;
}

#games,
#consoles,
#pairs,
#users {
  display: flex;
  justify-content: center;
}

#pairs {
  flex-flow: column wrap;
  align-items: center;
}

#gamesList,
#consolesList,
#pairsList,
#usersList {
  width: fit-content;
  border-radius: 15px;
  background-color: var(--bgWhite);
  padding: 1.5em 1.25em;
}

#gamesList > li,
#consolesList > li {
  display: flex;
  font-size: 16pt;
  align-items: center;
}

#consolesList > li {
  line-height: 1.5em;
}

img ~ a {
  padding: 1em;
}

#addNew,
#addUser {
  text-align: center;
}

/* GAME VIEW */
.bigImg {
  display: flex;
  justify-content: center;
  padding: 0 0 2em 0;
}

.bigImg > img {
  border-radius: 15px;
  width: 90%;
  box-shadow: 10px 10px #f4f2ff;
}

#game {
  display: flex;
  justify-content: center;
}

#game > p {
  width: 75%;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  border-color: #f4f2ff;
  padding: 1em 0.75em;
}

/* MODIFY/CREATE GAME */
#gameFormContainer {
  display: flex;
  justify-content: center;
}

.gameForm {
  display: grid;
  grid-template-areas:
    ". nameL nameI ."
    ". yearL yearI ."
    ". descL descI ."
    ". iconL iconI ."
    ". bigL bigI ."
    ". . submit submit";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 80%;
  align-items: center;
  justify-items: start;
}

#nameL {
  grid-area: nameL;
  padding: 0;
}

#gamename {
  grid-area: nameI;
  border-radius: 5px;
  border-style: none;
  padding: 0.33em 0.5em;
}

#yearL {
  grid-area: yearL;
  padding: 0;
}

#gameyear {
  grid-area: yearI;
  border-radius: 5px;
  border-style: none;
  padding: 0.33em 0.5em;
}

#descL {
  grid-area: descL;
  padding: 0;
}

#gamedesc {
  grid-area: descI;
  color: #313036;
  border-radius: 5px;
  border-style: none;
  padding: 0.33em 0.5em;
}

#iconL {
  grid-area: iconL;
  padding: 0;
}

#gameicon {
  grid-area: iconI;
  border-radius: 5px;
  border-style: none;
  padding: 0.33em 0.5em;
}

#bigL {
  grid-area: bigL;
  padding: 0;
}

#gamebig {
  grid-area: bigI;
  border-radius: 5px;
  border-style: none;
  padding: 0.33em 0.5em;
}

#editSubmit {
  grid-area: submit;
  background-color: #f4f2ff;
  padding: 0.5em;
  border-style: solid;
  border-width: 3px;
  border-color: #313036;
  border-radius: 15px;
}

#editSubmit:hover {
  background-color: #c9bfff;
}

/* LOGIN */
#login,
#userMod {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

form {
  background-color: var(--bgWhite);
  border-radius: 15px;
  text-align: center;
  line-height: 1.75em;
  padding: 1em;
}

form input,
[type="submit"] {
  color: #313036;
}

form label {
  padding: 1em;
}

#message,
#error {
  text-align: center;
}

/* HOME */
#homePartial {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.homePartial {
  background-color: var(--bgWhite);
  border-radius: 15px;
  width: 40%;
}

.homeList {
  padding: 0;
}

.homeListItem {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.homeListItem > img {
  height: 5em;
}

.homeForm,
.homeForm > form {
  background-color: transparent;
}

.homeForm {
  display: flex;
}

.pageNr {
  display: flex;
  gap: 2em;
}

.current {
  color: #c9bfff;
}

/* USER MANGEMENT */

#userPassword {
  color: #313036;
  border-radius: 5px;
  border-style: none;
  padding: 0.33em 0.5em;
}
